<div class='container'>
	{{#if error}}
		<p class='error'>Token inválido o vencido, por favor, vuelva a solicitar la restauración de su contraseña.</p>
	{{/if}}
	<h2>Reestablecer contraseña</h2>
	<p>Ingrese su email para solicitar la restauración de su contraseña</p>

	<form id='forgotForm'>
		<label>Correo electrónico</label>
		<input type='email' name='email' required />
		<button type='submit'>Restaurar contraseña</button>
	</form>

</div>

<script src='js/forgotPassword.js'></script>