<div class='container'>
	<h2>Restaurar contraseña</h2>
	{{#if error}}
		<div class='error'>
			<p>Contraseña inválida, por favor intente nuevamente</p>
		</div>
	{{/if}}
	<p>Ingrese su nueva contraseña</p>
	<form id='resetForm'>
		<label>Nueva contraseña</label>
		<input type='password' name='password' />
		<button type='submit'>Cambiar contraseña</button>
	</form>
</div>

<script src='/js/resetPassword.js'></script>