<div class="container">
	<h2>Restaura la contraseña del usuario</h2>

	<form id='restoreForm'>
		<label>Correo electrónico</label>
		<input type="email" name='email' />
		<label>Nueva contraseña</label>
		<input type="password" name='password' />
		<input type='submit' />
	</form>

</div>

<script src="js/restorePassword.js"></script>